@import "@rainbow-me/rainbowkit/styles.css";
@import "@ionic/core/css/ionic.bundle.css";

@font-face {
  font-family: "Gulim";
  src: url("/fonts/gulim.woff") format("woff");
  src: url("/fonts/gulim.woff2") format("woff2");
}

body {
  background-color: #000;
}

* {
  font-family: "Gulim";
}